@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500&family=Nunito:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;700&display=swap');

/* common styles */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}

.section-heading{
    
    font-size: 9vw;
    font-weight: 300;
    color:#fff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
    transition: text-shadow 0.3s ease-in;
    margin: 20px;
}


.section-heading:hover{
    
    font-size: 9vw;
    font-weight: 300;
    color:#fff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0 0  2rem rgb(255, 0, 0);
    cursor: pointer;
    margin: 20px;
}
/* End of common styles */

html{
    font-size: 62.5%;
}

/* section-1 */
.section-1{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;   
}




.section-1-icons i{
    position: absolute;
    font-size: 15rem;
    color: slateblue;
    transform: translate(-25%, -50%) scale(0.9);
    opacity: 0;
    text-shadow: 3px 3px 10px  rgba(0,0,0,0.79);
    transition: all 1.5s linear;
    margin-right: 15rem;
    padding-right: 15rem;
}

.section-1-icons .change{
    transform: translate(-25%, -50%) scale(1);
    opacity: 1;
}



/* End of section-1 */

/* section-2 */
.section-2{
    position: relative;
    width: 100%;
    height: max-content;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;

}

.cards-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.card{
    position: relative;
    width: 25vw;
    background: linear-gradient(10deg, rgba(255,255,255,1) 8%, rgba(244,255,0,1) 66%);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 2.5px 0px rgba(0,0,0,0.5);
    transition: all 0.2s linear;

}

.card:hover{
    width: 25vw;
    background: linear-gradient(10deg, rgba(255,255,255,1) 8%, rgba(244,255,0,1) 66%);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 8px 8px 8px 0px rgb(245, 255, 50, 0.1);
    transform: scale(1.02) translate(1%,1%);
    transition: all 0.2s linear;
    
}

.card-img{
    width: 100%;
}

.card-name{
    margin: 1rem;
    font-size: 2rem;
    font-weight: 400;
    padding: 12px;
    background: transparent;
    border-radius: 10%;
    width: 10rem;
    text-align: center;
    letter-spacing: 0.1rem;
    color: #111;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.7);
    transition: all 0.1s linear;
}

.card-name:hover{
    margin: 1rem;
    font-size: 2rem;
    font-weight: 400;
    background: transparent;
    padding: 12px;
    border-radius: 10%;
    width: 10rem;
    text-align: center;
    letter-spacing: 0.3rem;
    color: #111;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.7);
    transform: scale(1.1);
}


.card-btn{
    width: 60%;
    border-radius: 10%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-top: 1rem;
    background-color: #000;
    color: #fff;
    transition: all 0.1s linear;
    border: none;
}

.card-btn:hover{
    width: 60%;
    border-radius: 10%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-top: 1rem;
    background-color: rgb(153, 153, 153);
    color: rgb(0, 0, 0);
    transform: scale(0.95);
    letter-spacing: 0.1rem;
    border: none;
}

/* Section-2 ends */

/* section-3  */
.section-3{
    background-color: #333;
    padding : 5rem ;
    height: max-content;
    width: 100%;
    position: relative;
}

.food-img{
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all 0.3s linear;
}

.gallery-link:hover .food-img{
    opacity: 0.2;
    
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
}

.gallery-link{
    position:relative ;
    margin-bottom: 4rem;
    transition: all 0.3s linear;
    overflow: hidden;
    box-shadow: 3px 2px 2.5px 0px rgba(110,110,110,0.58);
}

.gallery-link:hover{
    background: linear-gradient(356deg, rgba(255,255,255,0.9) 0%, rgba(170,170,170,0.9) 100%);
}


.gallery-link::before{
    content: '';
    position: absolute;
    width: 0.2rem;
    height: 80%;
    background-color: white;
    top: 2vw;
    left: 80%;
    transform: translateY(150%);
    transition: all 0.3s linear;
}



.gallery-link::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 0.1rem;
    background-color: white;
    top: 30%;
    left: 2vw;
    transform: translateX(150%);
    transition: all 0.3s linear;
}

.gallery-link:hover::before{
    transform: translateY(0%);
}

.gallery-link:hover::after{
    transform: translateX(0%);
}

.food-name{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    letter-spacing: 0.2rem;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}



.gallery-link:hover .food-name{
    opacity: 1;  
}


.food-description{
    position: absolute;
    bottom: 3vw;
    left: 2rem;
    width: 70%;
    font-size: 1.2vw;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    overflow: hidden;
    opacity: 0;
    transform: translateY(500%);
    transition: all 0.3s linear;
    color: black;
}

.gallery-link:hover .food-description{
    opacity: 1;
    transform: translateY(00%);
}

/* End of section -3  */

/* section-4 */

.section-4{
    width: 100%;
    height: 30vh;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 0;
    position: relative;
}

.copyright{
    position: absolute;
    bottom: 2rem;
    font-size:1rem;
    color: rgb(200, 200, 200);
    border-top: 0.1rem solid rgba(255, 255, 255, 0.4);
    padding-top: 1rem;
    width: 100%;
    text-align: center;
}


.section-4-text{
    text-transform: capitalize;

}

.section-4-heading{
    font-size: 3rem;
    font-weight: 900;
    color: #a79a2b;
    margin-bottom: 1rem;
}

.section-4-paragraph{
    font-size: 1.2rem;
    color: rgb(200, 200, 200);
}  

.signup-form{
    display: flex;
    align-items: center;
}

input{
    width: 20rem;
    height: 2rem;
    padding: 1rem;
    border: 0.2rem solid #a79a2d;
    font-size:  1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #a79a2d;
}

.signup-form-input::placeholder{
    color: #a79a2d;
}

.signup-form-btn{
    position: relative;
    left: -2.3rem;
    width: 2rem;
    height: 2rem;
    color: #a79a2d;
    background-color: #333;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    

}


/* End of section-4  */

